.emoji{
  width:28px
}

/* grid 10x10 with square grid items */
.grid{
  display: grid;
  grid-template-columns: repeat(10, 64px);
  grid-template-rows: repeat(10, 64px);
  grid-gap: 0.5rem;
  width: 100%;
  height: 100%;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}